<section id="contact">
    <div class="container py-5">
        <h1 class="text-center py-3">Contact Us</h1>
        <div class="row g-3">
            <div class="col-md-6">
                <input type="text" placeholder="First Name" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="Last Name" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="email" placeholder="Email Address" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="Your number" class="form-control">
            </div>
            <div class="col-md-12">
                <textarea  class="w-100 form-control" rows="5" placeholder="Write your message"></textarea>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-info px-4">SUBMIT</button>
            </div>
        </div>
    </div>
</section>